<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>create a blog post</h2>

  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <label for="title">Title</label> <br>
    <input type="text" name="title" required value=""> <br>

    <label for="category">category</label> <br>
    <input type="text" name="category" required> <br>

    <label for="content">content</label> <br>
    <textarea name="content" id="" cols="30" rows="10"></textarea><br>

    <input type="file" value="{{post.image}}" name="img"> <br>

    <button type="submit">submit</button>
  </form>
</body>
</html>